.backgroundOfScore {
    background-color: #4751c0;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    .columnBox {
        position: relative;
        width: 700px;
        max-width: 93%;
        display: flex;
        // justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: column;
        align-items: center;

        .allAnswers {
            max-height: 500px;
            max-width: 100%;
            overflow-y: auto;
            padding: 10px;
            scrollbar-width: thin;
        }
    }
}
