.backgroundOfWelcome {
    background-color: #4751c0;
    display: flex;
    justify-content: center;

    position: relative;
    // height: 900px;
    min-height: 100vh;
    width: 100%;

    .veLeft {
        left: 0;
        top: 0;
        position: fixed;
        height: 100vh;
        .ve001 {
            position: absolute;
            left: min(0px, calc(-50px + 5vw));
            top: -250px;
            width: max(90px, 10vw);
        }
        .ve002 {
            position: absolute;
            left: 0;
            bottom: min(-10px, calc(-180px + 8vw));
        }
    }

    .veRight {
        right: 0;
        top: 0;
        position: fixed;
        height: 100vh;
        .ve003 {
            position: absolute;
            right: min(0px, calc(-50px + 5vw));
            width: min(100px, max(70px, 8vw));
            top: -70px;
        }
        .ve004 {
            position: absolute;
            right: min(0px, calc(-50px + 5vw));
            width: min(80px, max(70px, 7vw));
            bottom: -200px;
        }
    }

    .introBox {
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        width: 700px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        // margin-top: calc(150px);
        align-items: center;
        flex-wrap: no-wrap;
        flex-direction: column;
        h1 {
            color: white;
            // font-size: 46px;
            font-size: min(46px, 6vw);
            @media screen and (max-width: 750px) {
                font-size: max(26px, 6vw);
            }
            font-style: normal;
            font-weight: 700;
            // line-height: 58px;
            margin: 5px;

            text-align: center;
        }
        .superTitle {
            width: 80%;
            max-width: 573px;
            max-height: 240px;
        }
    }
}
