html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Quicksand;
}

html {
    position: relative;
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}

#root {
    height: 100vh;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
    border-radius: 100px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.goButton {
    position: relative;
    display: block;
    text-decoration: none;
    height: 95px;
    width: 446px;

    margin: 20px;

    border-radius: 14px;
    background: #c65252;
    .subShape {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        width: 100%;
        height: 89px;
        border-radius: 14px;
        background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);

        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        cursor: pointer;
        & .subShape {
            height: 92px;
        }
    }
}

.scoreAsStars {
    margin: 10px 5px 30px 5px;
    .starIcon {
        &.scored {
            * {
                fill: #ff7c7c;
            }
        }

        &.unScored {
            //
        }
    }
}

.answerItem {
    display: flex;
    height: 79px;
    width: 620px;

    margin-bottom: 24px;

    border-radius: 14px;

    padding: 10px 20px;

    &.correct {
        background: #fffbfa;
    }

    &.incorrect {
        background: #ffdbdb;
    }

    .text {
        display: flex;
        text-align: center;
        align-items: center;

        width: calc(100% - 30px);
        height: 100%;

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;

        color: #464faccb;

        margin-right: 20px;
    }

    .iconBox {
        width: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        &.correct {
        }
        &.incorrect {
        }
    }
}

.backgroundOfWelcome {
    background-color: #4751c0;
    display: flex;
    justify-content: center;

    position: relative;
    // height: 900px;
    height: 100%;

    .introBox {
        width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: no-wrap;
        flex-direction: column;
        h1 {
            color: white;
            font-size: 46px;
            font-style: normal;
            font-weight: 700;
            line-height: 58px;

            text-align: center;
        }
        .superTitle {
            width: 100%;
            max-width: 573px;
            max-height: 240px;
        }
        .inputContainer {
            .cont1 {
                margin-bottom: 30px;
                .info {
                    display: flex;

                    align-items: center;
                    flex-wrap: no-wrap;

                    margin-bottom: 8px;
                    .infoIcon {
                        width: 33px;
                        height: 36px;
                    }
                    .infoTitle {
                        margin-left: 15px;
                        color: #f7a491;

                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 23px;

                        text-align: left;
                    }
                }

                .difficultySelect {
                    outline: none;
                    color: white;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: left;
                    height: 75px;
                    width: 445px;
                    border-radius: 10px;
                    padding: 20px;

                    border: 1px solid white;
                    background: none;
                    &:focus {
                        outline: none;
                    }

                    option {
                        color: white;
                        background-color: #4751c0;
                    }
                }
            }

            .cont2 {
                .info {
                    display: flex;

                    align-items: center;
                    flex-wrap: no-wrap;
                    margin-bottom: 8px;

                    .infoIcon {
                        width: 35px;
                        height: 35px;
                    }
                    .infoTitle {
                        margin-left: 15px;
                        color: #f7a491;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 23px;

                        text-align: left;
                    }
                }
                .amountInput {
                    outline: none;
                    border: 1px solid white;
                    background: none;
                    color: white;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 20px;

                    height: 75px;
                    width: 445px;
                    border-radius: 10px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.backgroundOfGameplay {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    .playBox {
        width: 700px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 81px;
            font-style: normal;
            font-weight: 500;
            line-height: 101px;
            letter-spacing: 0.05em;
            text-align: center;

            color: #4953be;
        }
        .levelName {
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0.5em;
            text-align: center;

            color: #4953be;
        }

        .coolFiller {
            margin: 30px 5px;
            .numbers {
                color: #4953be;
                .score {
                    color: #ff7878;
                    font-weight: 700;
                    font-size: 30px;
                }
                .slash {
                    font-size: 25px;
                    font-weight: 700;
                }
                .len {
                    color: #4953be;
                    font-weight: 500;
                    font-size: 25px;
                }
            }
            .fullLine {
                background-color: #dbdeff;
                height: 5px;
                width: 406px;

                border-radius: 20px;

                .fillerLine {
                    height: 100%;
                    border-radius: 20px;
                    background: linear-gradient(
                        180deg,
                        #ff7878 0%,
                        #ff7878 100%
                    );
                }
            }
        }

        .statement {
            width: 631px;
            margin: 20px 5px;

            font-size: 31px;
            font-style: normal;
            font-weight: 500;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: center;

            color: #4953be;
        }

        .answer {
            .buttonTrue {
                display: flex;
                justify-content: center;

                align-items: center;

                background-color: #424a9e;
                height: 89px;
                width: 446px;

                border-radius: 14px;

                font-family: Inter;
                font-size: 21px;
                font-style: normal;
                font-weight: 900;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: center;
                color: white;

                margin-bottom: 37px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 20px 50px rgba(73, 83, 190, 0.7);
                    transition: all 0.5s ease;
                }
            }
            .buttonFalse {
                display: flex;
                justify-content: center;

                align-items: center;

                border: 2px solid #4953be;
                height: 89px;
                width: 446px;

                border-radius: 14px;

                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 20px 50px rgba(235, 110, 38, 0.7);
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

.backgroundOfScore {
    background-color: #4751c0;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;

    .columnBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .scoreBriefInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            .profileIconFrame {
                width: 52px;
                height: 52px;
                position: relative;
                background-color: white;
                border-radius: 100px;
                .profileIcon {
                    position: relative;
                    width: 100%;
                }
            }
            .numbering {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;

                color: white;

                .youScored {
                    margin: 20px;
                }

                .numbers {
                    color: white;
                    .score {
                        color: #ff7878;
                        font-weight: 700;
                        font-size: 30px;
                    }
                    .len {
                        color: white;
                        font-weight: 500;
                        font-size: 25px;
                    }
                }
            }
        }
        .allAnswers {
            max-height: 500px;
            overflow-y: scroll;
            padding: 10px;
            scrollbar-width: thin;
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner 0.6s linear infinite;
}
