html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Quicksand;
}

html {
    position: relative;
    height: 100%;
}
body {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}

#root {
    // height: 100vh;
    // width: 100vw;
    min-height: 100%;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
    border-radius: 100px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.goButton {
    position: relative;
    display: block;
    text-decoration: none;

    width: 446px;
    max-width: 84%;
    // height: 95px;
    aspect-ratio: 4.695;

    margin: 40px 5px 5px 5px;

    border-radius: 14px;
    background: #c65252;
    .subShape {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        width: 100%;
        // height: 89px;
        aspect-ratio: 5.011;
        transition: all 0.1s;
        border-radius: 14px;
        background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);

        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        cursor: pointer;
        & .subShape {
            // height: 92px;
            aspect-ratio: 4.848;
        }
    }
}

.scoreAsStars {
    margin: 10px 5px 30px 5px;
    .starIcon {
        width: max(25px, min(35px, 8vw));
        &.scored {
            * {
                fill: #ff7c7c;
            }
        }

        &.unScored {
            //
        }
    }
}

.answerItem {
    display: flex;
    min-height: 79px;
    width: 620px;
    max-width: 100%;

    margin-bottom: 24px;

    border-radius: 14px;

    padding: 10px 20px;

    &.correct {
        background: #fffbfa;
    }

    &.incorrect {
        background: #ffdbdb;
    }

    .text {
        display: flex;
        text-align: center;
        align-items: center;

        width: calc(100% - 30px);
        height: 100%;

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;

        color: #464faccb;

        margin-right: 20px;
    }

    .iconBox {
        width: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        &.correct {
        }
        &.incorrect {
        }
    }
}



@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        box-sizing: border-box;
        position: relative;

        width: 50px;
        height: 50px;

        border-radius: 50%;
        border-top: 4px solid #07d;
        border-right: 4px solid transparent;
        animation: spinner 0.6s linear infinite;
    }
}
